body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color: ghostwhite;
    background-color: darkgray;
}
.container {
    max-width: 400px;
    margin: auto;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.form-group button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form-group button:hover {
    background-color: #0056b3;
}
.output {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: gray;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 500%;
    margin-left: 12 pt;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}