<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
    <link rel="stylesheet" href={{ url_for('static', filename='styles.css') }} />
</head>

<body>
    <div class="container"><a href='/'> Home </a></div>
        <br>

    <div class="field">
        <form  action= "search" method="POST">
            <div class="form-group">
                <!-- <label for="userInput">Enter Text:</label> -->
                <input name="search" type="text" id="searchInput" placeholder="Search">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>

    <table>
        <tr>
            {% for col in column_names %}
            <th>{{col}}</th>
            {% endfor %}
        </tr>

        {% for row in row_data %}
        <tr>
            {% for col, row_ in zip(column_names, row) %}
            {% if col == link_column %}
                <td> {{ row_ }} </td>
            <!-- {% elif row_ == "nan" %}
                <td> {{ "N/A" }} </td> -->
            {% else %}
                <td>{{row_}}</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}

    </table>
<!--
-->

</body>