<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href={{ url_for('static', filename='styles.css') }} />
    </head>

    <body>
        
        <div><h1>Welcome!</h1> 
            <a href='/translator'>Translator</a>
            &nbsp;
            <a href='/data'>Records</a>
            &nbsp;
            <a href='/tess'>Test</a>
            &nbsp;
            <a href='/cost'>Cost</a>
        </div>
    </body>
</html>