<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href={{ url_for('static', filename='styles.css') }} />
        <title>Translator</title>
    </head>
    <body>
        <div class="container">
            <h1>Translator</h1>
            <!-- -->
            <form  action= "results" method="POST">
                <div class="form-group">
                    <label for="userInput">Enter Text:</label>
                    <input name="msg" type="text" id="userInput" placeholder="Type something...">
                </div>

                <div class="form-group">
                    <div class="output">{{ psc }}</div>
                </div>
                
                <div class="form-group">
                    <button type="submit">Submit</button>
                </div>
            </form>
            
        </div>

        <div class="container"><a href='/'> Home </a> </div>
    <!--
        <script>
            function submitForm() {
                // Get the value from the input field
                var userInput = document.getElementById('userInput').value;
                
                // Display the value in the output field
                document.getElementById('outputField').innerText = userInput;
            }
        </script> -->
    </body>
</html>